@use '@/styles/theme' as *;

.search {
    width: 600px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 16px;

        border-bottom: 1px solid $grey-300;

        .search-bar {
            display: flex;
            align-items: center;
            gap: 8px;
            flex-grow: 1;

            padding-left: 8px;

            input {
                flex-grow: 1;

                padding: 8px 12px;
        
                font-size: $size-20;
            }
        }
    }

    .results {
        display: flex;
        flex-direction: column;

        overflow-y: scroll;

        height: 40vh;
        padding: 16px;
        padding-right: 0;

        p.title {
            padding: 8px;

            color: $grey-700;
        }

        .menu-item {
            padding: 8px;

            color: $grey-800;
            border-radius: $radius;

            text-align: left;

            transition: .2s ease;

            &:hover, &:focus-visible {
                background-color: $grey-200;
                
                transition: .2s ease;
            }
        }
    }
}